<body onLoad="loadApp()">
  <ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Notes
    </ion-title>
    <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button detail *ngFor="let note of notesService.notes" [routerLink]="'/notes/' + note.id" routerDirection="forward">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
</ion-app>
</body>